<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>Specific Detail Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand pull-left" href="/">Movies?</a>
          </div>
          <div class="navbar-collapse collapse" style="height: 1px;">
            <ul class = "nav navbar-nav navbar-right">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/articles">Articles</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
         </div>
        </div>
    </div>
    <div class="container">
        <h1><%= detailList.Title%></h1>
        <h3>Year: <%= detailList.Year %></h3>
        <br>
        <p>Rated: <%= detailList.Rated%></p>
        <p>Released: <%= detailList.Released%></p>
        <p>Runtime: <%= detailList.Runtime%></p>
        <p>Genre: <%= detailList.Genre%></p>
        <p>Director: <%= detailList.Director%></p>
        <p>Writer: <%= detailList.Writer%></p>
        <p>Actors: <%= detailList.Actors%></p>
        <p>Plot: <%= detailList.Plot%></p>
        <p>Language: <%= detailList.Language%></p>
        <p>Country: <%= detailList.Country%></p>
        <p>Awards: <%= detailList.Awards%></p>
        <p>Imdb Rating: <%= detailList.imdbRating%></p>

      <form action="/interested" method="POST">
        <input name="movie[title]" value="<%= detailList.Title%>" type="hidden">
       <button type="submit" class="btn btn-primary">I'm Interested!</button>
      </form>
    </div>
    <hr>
     <footer>
        <p>© Ryan's Awesome 2014</p>
    </footer>

</body>
</html>